.workshops {
  ul {
    display: grid;
    gap: var(--gap);
    list-style: none;
    grid-template-columns: repeat(2, 1fr);

    @include mq($from: desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
