.options {
	header {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: baseline;
		border-top: 1px solid var(--primary);

		h3 {
			flex: 1 1 auto;
			margin-top: 1em;
			margin-bottom: 1em;
		}

		.help {
			display: block;
			opacity: 0;
			left: 0;
			&.show {
				opacity: 1;
			}
		}
	}

	fieldset {
		all: unset;
		display: flex;
		flex-direction: column;
	}

	.workshops,
	.equipment {
		overflow-x: scroll;
		display: grid;
		gap: var(--gap);
		width: 100%;
		grid-template-columns: repeat(2, 1fr);

		@include mq($from: desktop) {
			grid-template-columns: repeat(5, 1fr);
		}

		label {
			flex: 0 0 calc(50% - var(--gutter));
			@include mq($from: desktop) {
				flex: 0 0 calc(20% - var(--gutter));
			}
			position: relative;

			&:nth-child(5n) {
				padding-right: 0;
			}

			input[type='radio'],
			input[type='checkbox'] {
				position: absolute;
				opacity: 0;
				width: 0;
				height: 0;
			}

			input[type='radio']:checked + figure,
			input[type='checkbox']:checked + figure {
				border-color: var(--primary);
			}

			figure {
				max-width: 50vw;
				@include mq($from: desktop) {
					max-width: 20vw;
				}
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				border-width: 5px;
				border-style: solid;
				border-color: transparent;
				box-sizing: border-box;

				cursor: pointer;

				&:hover {
					figcaption {
						background-color: var(--primary);
						color: white;
					}
				}

				img {
					aspect-ratio: 3/4;
					width: 100%;
					object-fit: cover;
				}

				figcaption {
					position: absolute;
					margin-top: 0.5em;
					z-index: 10;
					background-color: var(--white);
					padding: 1rem;
					margin-left: 1rem;
					margin-right: 1rem;
					text-align: center;
				}
			}
		}
	}
}

.empty {
	text-align: center;
	color: var(--primary-light);
	margin-bottom: var(--space);
}
