.selection {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-top: 1px solid var(--primary);

	h3 {
		flex: 1 1 auto;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.helpToggle {
		padding: 1rem;
		cursor: pointer;
	}
}

.help {
	margin-bottom: var(--space-small);

	display: none;

	&.show {
		display: block;
	}
}
