.selection {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-top: 1px solid var(--primary);
	h3 {
		flex: 1 1 auto;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.help {
		display: block;
		opacity: 0;
		left: 0;
		&.show {
			opacity: 1;
		}
	}
}
