.week {
	--template-columns: 100px repeat(var(--days), 4fr);
	--hours: 24;
	--days: 7;

	display: grid;
	position: relative;
	grid-template-columns: var(--template-columns);
	background-color: var(--primary-light);
	gap: 1px 1px;

	> div {
		position: relative;
		background-color: var(--white);
		padding: 0.1em;
	}

	.header {
		display: flex;
		align-items: center;
		background-color: var(--primary-very-light);
		height: 3rem;
		margin-left: -1px;

		&:first-child {
			margin-left: 0;
		}

		&.today {
			color: var(--primary);
		}
	}

	.bookings {
		display: grid;
		position: absolute;
		top: 0;
		left: 0;
		grid-template-columns: var(--template-columns);
		grid-template-rows: repeat(calc(var(--hours) + 2), 1fr);
		gap: 1px 1px;
		background-color: transparent;
		width: 100%;
		height: 100%;
		pointer-events: none;

		.available {
			background-color: var(--available);
		}
		.unavailable {
			background-color: var(--unavailable);
		}
		.shared {
			background-color: var(--shared);
		}
		.you {
			background-color: var(--you);
		}
	}
}
