.headline {
	@include mq($until: desktop) {
		margin-bottom: 1.5em;
	}
}

.abort {
	position: absolute;
	top: 0;
	right: 0;
}

.meta {
	border-top: 1px solid var(--primary);
	margin-top: var(--space);
	padding-top: var(--space);

	h2 {
		grid-column: span 10;
		margin: 0em;
	}

	.label {
		grid-column: span 1;
	}
	.value {
		grid-column: span 4;
	}
	.long {
		grid-column: span 9;
	}
}

.report {
	@include mq($from: desktop) {
		position: absolute;
		top: 0;
		right: 0;
	}
	@include mq($until: desktop) {
		padding-top: var(--space);
		display: block;
	}
}
