.headline {
	@include mq($until: desktop) {
		margin-bottom: 1.5em;
	}
}

.abort {
	position: absolute;
	top: 0;
	right: 0;
}

.summary {
	width: 100%;
	div {
		grid-column: span 10;

		@include mq($from: desktop) {
			grid-column: span 5;
		}
		display: grid;
		grid-template-columns: subgrid;
		align-items: baseline;

		span {
			grid-column: span 2;
			@include mq($from: desktop) {
				grid-column: span 1;
			}
		}
		p {
			grid-column: span 8;

			@include mq($from: desktop) {
				grid-column: span 54;
			}
		}
	}
}

.meta {
	border-top: 1px solid var(--primary);
	margin-top: var(--space);
	padding-top: var(--space);

	h2 {
		grid-column: span 10;
		margin: 0em;
	}

	.label {
		grid-column: span 1;
	}
	.value {
		grid-column: span 4;
	}
	.long {
		grid-column: span 9;
	}
}

.report {
	@include mq($from: desktop) {
		position: absolute;
		top: 0;
		right: 0;
	}
	@include mq($until: desktop) {
		padding-top: var(--space);
		display: block;
	}
}
