.drop {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	height: 50vh;
	background-color: var(--primary-very-light);
	&:hover {
		background-color: var(--primary-very-light);
	}

	.image {
		position: relative;
		height: 50vh;
		width: auto;
		object-fit: contain;
	}
}

.message {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
	pointer-events: none;

	.wrap {
		text-align: center;
		background-color: var(--white);
		padding: 1rem;
	}

	.cancel {
		margin-top: 1rem;
		pointer-events: all;
	}
}
