.editor {
	border: 1px solid var(--primary-very-light);
	.content {
		> div {
			background-color: var(--primary-very-light);
			> div {
				padding: 1rem !important;
			}
		}
	}

	.toolbar {
		padding: 0rem;
		padding-left: 0;
		border: 0;
		button {
			height: 2rem;
			width: 2rem;
			border: 0;
		}
	}
}
