.container {
	width: 100%;
	border: 1px solid var(--primary-light);
	background-color: var(--primary-very-light);

	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		border-bottom: 1px solid var(--primary-light);

		padding: 0.3rem;

		.month {
		}

		.selector {
			display: flex;
			flex-direction: row;
			align-items: center;

			.views {
				display: flex;
				flex-direction: row;
				align-items: center;
			}
			.back,
			.ffw {
			}
		}
	}
	.interval {
		display: none;
		flex-direction: row;
		&.show {
			display: flex;
		}
		span {
			flex: 1 1 100%;
		}
		.range {
			display: flex;
			flex-direction: row;
			align-items: center;
			.date {
				display: flex;
				flex-direction: row;
				align-items: center;
				label {
					padding-right: 1rem;
					padding-left: 1rem;
				}
			}
		}
	}
}
