:root {
	--unavailable: var(--primary);
	--available: var(--seconday);
	--shared: var(--accent-light);
	--you: var(--accent);
	--hours: 24;
	--days: 7;
	--calender-columns: 60px repeat(var(--days), 4fr);
}

.calendar {
	display: grid;
	position: relative;
	grid-template-columns: var(--calender-columns);
	background-color: var(--primary-very-light);
	gap: 1px 1px;

	.c {
		position: relative;
		background-color: var(--white);
		width: 100%;
	}

	.bookings {
		display: grid;
		position: absolute;
		top: 0;
		left: 0;
		grid-template-columns: var(--calender-columns);
		grid-template-rows: repeat(calc(var(--hours) + 2), 1fr);
		gap: 1px 1px;
		width: 100%;
		height: 100%;
		pointer-events: none;

		.available {
			background-color: var(--available);
		}
		.unavailable {
			background-color: var(--unavailable);
		}
		.shared {
			background-color: var(--shared);
		}
		.you {
			background-color: var(--you);
		}
	}
}
