.calendar {
	--hours: 24;
	--days: 7;

	--unavailable: var(--primary);
	--available: var(--seconday);
	--shared: var(--accent-light);
	--you: var(--accent);

	display: grid;
	grid-template-columns: 1fr repeat(var(--days), 4fr);
	background-color: var(--primary-very-light);
	gap: 1px 1px;

	.c {
		background-color: var(--white);
	}
}
