.comingCourses {
	list-style: none;
	display: grid;
	gap: var(--gap);
	grid-template-columns: repeat(2, 1fr);
	padding-top: var(--space-small);

	@include mq($from: desktop) {
		grid-template-columns: repeat(3, 1fr);
	}

	li {
		&:hover {
			h4 {
				color: var(--primary);
			}
		}
	}

	span {
		display: block;
		margin-bottom: 1rem;
	}

	h4 {
		padding-top: 1rem;
	}
}
