.gallery {
	max-width: 100%;
	display: flex;
	flex-direction: row;

	.slide {
		position: relative;
		flex: 0 0 100%;
		figure {
			width: 100%;
			.image {
				height: 60vh;
				aspect-ratio: 4/3;
				object-fit: cover;
			}
			figcaption {
			}
		}

		.loading {
			position: absolute;
			background-color: var(--black);
			z-index: 100;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
