.gallery {
	margin-bottom: var(--space);
	padding-top: 0.5rem;

	.wrapper {
		max-width: 100%;
		overflow: hidden;
		&.ready {
			overflow: visible;
		}
	}

	.slide {
		position: relative;
		width: 100%;

		figure {
			position: relative;
			width: 100%;
			cursor: pointer;
			.wrap {
				height: 60vh;
				width: 100% !important;
				max-width: 100% !important;
			}
			img {
				object-fit: cover;
			}

			figcaption {
				position: absolute;
				bottom: 0;
				left: calc(-1 * var(--right-margin));
				width: calc(2 * (100% / 12));
				z-index: 2;
				opacity: 0;
				&.show {
					opacity: 1;
				}
			}
		}

		.loading {
			position: absolute;
			background-color: var(--black);
			z-index: 100;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	animation: init 300ms steps(2) forwards;

	@keyframes init {
		0% {
			overflow: hidden;
		}
		100% {
			overflow: visible;
		}
	}
}
