.gallery {
	overflow: visible;
	margin-bottom: var(--space);
	padding-top: 0.5rem;

	.slide {
		position: relative;
		width: 100%;
		figure {
			width: 100%;
			.wrap {
				height: 60vh;
				width: 100% !important;
				max-width: 100% !important;
			}
			img {
				object-fit: cover;
			}
			figcaption {
				position: absolute;
				bottom: 0;
				left: calc(-1 * var(--right-margin));
				width: calc(2 * (100% / 12));
				z-index: 2;
			}
		}

		.loading {
			position: absolute;
			background-color: var(--black);
			z-index: 100;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
