.gallery {
	.slide {
		position: relative;
		width: 100%;
		figure {
			width: 100%;
			.wrap {
				height: 60vh;
				width: 100% !important;
				max-width: 100% !important;
			}
			img {
				object-fit: cover;
			}
			figcaption {
			}
		}

		.loading {
			position: absolute;
			background-color: var(--black);
			z-index: 100;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
