.temperatures {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: var(--primary-light);
	padding: 1em;
	margin-bottom: var(--space);

	&.loading {
		min-height: 3em;
		li {
			background-color: rgb(240, 240, 240);
			animation: loading 1s infinite;
			min-width: 20%;

			@keyframes loading {
				0% {
					background-color: rgb(240, 240, 240);
				}
				50% {
					background-color: rgb(245, 245, 245);
				}
				100% {
					background-color: rgb(240, 240, 240);
				}
			}
		}
	}
}
