.loading {
	display: none;
	position: relative;
	background-color: transparent;
	opacity: 1;
	z-index: 1000;
	top: calc(-1 * var(--navbar-height));
	left: calc(-1 * var(--outer-margin));
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	//border-bottom: 5px solid var(--primary);
	//border-top: 5px solid var(--primary);
}
