.container {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		border-bottom: 1px solid var(--black);

		.month {
			font-size: 1.5rem;
			font-weight: bold;
		}

		.selector {
			display: flex;
			align-items: center;

			.views {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-left: 1rem;

				button {
					border: none;
					background-color: transparent;
					padding: 0;
					margin-right: 1rem;
					font-size: 1rem;
					cursor: pointer;
					color: var(--black);
					font-weight: bold;

					&:hover {
						color: var(--beige-dark);
					}

					&[aria-checked='true'] {
						color: var(--beige-dark);
					}
				}
			}

			.ffw {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 2rem;
				height: 2rem;
				border: 1px solid var(--black);
				border-radius: 50%;
				cursor: pointer;
				background-color: var(--beige-light);
				color: var(--black);
				font-size: 1.5rem;
			}
		}

		.long {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2rem;
			height: 2rem;
			border: 1px solid var(--black);
			border-radius: 50%;
			cursor: pointer;
			background-color: var(--beige-light);
			color: var(--black);
			font-size: 1.5rem;
		}
	}
}
