.container {
	width: 100%;

	header,
	> div {
		margin-bottom: 1rem;
	}
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		border-bottom: 1px solid var(--black);

		.month {
			font-size: 1.5rem;
			font-weight: bold;
		}

		.selector {
			display: flex;
			flex-direction: row;
			align-items: center;

			.views {
				display: flex;
				flex-direction: row;
				align-items: center;
			}
			.back,
			.ffw {
			}
		}
	}
	.interval {
		display: none;
		flex-direction: row;
		&.show {
			display: flex;
		}
		span {
			flex: 1 1 100%;
		}
		.range {
			display: flex;
			flex-direction: row;
			align-items: center;
			.date {
				display: flex;
				flex-direction: row;
				align-items: center;
				label {
					padding-right: 1rem;
					padding-left: 1rem;
				}
			}
		}
	}

	.calender {
	}
}
