.gallery {
	position: relative;
	.wrapper {
		max-width: 100%;
	}
	.slide {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;

		figure {
			position: relative;
			width: 100%;
			cursor: pointer;
			.wrap {
				height: 60vh;
				width: 100% !important;
				max-width: 100% !important;
			}
			img {
				object-fit: cover;
			}

			figcaption {
			}
		}

		.loading {
			position: absolute;
			background-color: var(--black);
			z-index: 100;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.next,
	.prev {
		all: unset;
		position: absolute;
		z-index: 2;
		top: 50%;
		transform: translateY(-50%);
		color: var(--white);
		padding: 1rem;
		margin: 0;
		font-size: 3rem;
		cursor: pointer;
	}
	.next {
		right: 0;
	}
	.prev {
		left: 0;
	}
}
