.loader {
	display: flex;
	flex-direction: column;
	opacity: 0.1;

	.spinner {
		animation: pulse 1s infinite;

		@keyframes pulse {
			0% {
				transform: scale(0.95);
			}
			50% {
				transform: scale(1);
			}
			100% {
				transform: scale(0.9);
			}
		}
	}
	p {
		margin-top: 0.5rem;
	}
}
