.thumbnail {
	display: flex;
	flex-direction: column;

	&:hover {
		figcaption {
			color: var(--white);
			background-color: var(--primary);
		}
	}

	h3 {
	}
	figure {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		& div {
			width: 100%;
			aspect-ratio: 6 / 4;
		}

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			display: block;
		}

		figcaption {
			position: absolute;
			margin-top: 0.5em;
			z-index: 10;
			background-color: var(--seconday);
			padding: 1rem;

			&.center {
			}
			&.bottom {
			}
		}
	}
}
