.thumbnail {
	display: flex;
	flex-direction: column;
	h3 {
	}
	figure {
		//width: 25%;
		aspect-ratio: 4/3;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		figcaption {
			position: absolute;
			margin-top: 0.5em;
			z-index: 10;
			background-color: var(--seconday);
			padding: 1rem;

			&.center {
			}
			&.bottom {
			}
		}
	}
}
