.thumbnail {
	display: flex;
	flex-direction: column;

	&:hover {
		figcaption {
			color: var(--white);
			background-color: var(--primary);
		}

		.shortCourseLabel {
			color: var(--white) !important;
		}
	}

	h3 {
	}
	figure {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		& div {
			width: 100%;
			aspect-ratio: 6 / 4;
		}

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			display: block;
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			mix-blend-mode: multiply;
			pointer-events: none;
			z-index: 1;

			&.primary-light {
				background-color: var(--primary-light);
			}

			&.secondary {
				background-color: var(--seconday);
			}
		}

		.shortCourseLabel {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: var(--white);
			z-index: 2;
			pointer-events: none;
			margin: 0;
			padding: 0;
		}

		figcaption {
			position: absolute;
			margin-top: 0.5em;
			z-index: 10;
			background-color: var(--white);
			padding: 1rem;

			&.center {
			}
			&.bottom {
			}
		}
	}
}
