.prices {
	border-top: 1px solid var(--primary);
	margin-top: var(--space);
	padding-top: var(--space);

	div {
		row-gap: 0.5rem;
	}

	div + div {
		margin-top: 1rem;
	}

	h2 {
		grid-column: span 10;
		//margin: 0em;
	}

	.label {
		grid-column: span 1;
		@include mq($until: desktop) {
			grid-column: span 2;
		}
	}
	.value {
		grid-column: span 4;
		@include mq($until: desktop) {
			grid-column: span 3;
		}
	}
	.long {
		grid-column: span 9;
	}

	.equipment span {
		grid-column: span 5;
	}
}
