.header {
	width: 100%;
	border-bottom: 1px solid var(--primary);
	padding-bottom: var(--space);
	p {
		grid-column: span 7;
		padding-right: var(--space);
	}

	figure {
		grid-column: span 3;
		div {
			aspect-ratio: 6 / 4;
		}
		img {
			object-fit: cover;
		}
	}
}

.summary {
	.meta {
		ul {
			row-gap: 0.5em !important;
		}

		li {
			grid-column: span 10;
			@include mq($from: desktop) {
				grid-column: span 5;
			}
			display: grid;
			grid-template-columns: subgrid;

			span:first-of-type {
				grid-column: span 5;
				@include mq($from: desktop) {
					grid-column: span 2;
				}
			}
			span:last-of-type {
				grid-column: span 5;

				@include mq($from: desktop) {
					grid-column: span 3;
				}
			}
		}
	}
}

.image {
	//padding-top: var(--space);
}
