.summary {
	.meta {
		ul {
			row-gap: 0.5em !important;
		}

		li {
			grid-column: span 5;
			display: grid;
			grid-template-columns: subgrid;

			span:first-of-type {
				grid-column: span 2;
			}
			span:last-of-type {
				grid-column: span 3;
			}
		}
	}
}

.image {
	padding-top: var(--space-small);
}
