.aboutUs {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: var(--gap);
	padding-bottom: var(--space);
	border-bottom: 1px solid var(--accent);

	div:first-of-type {
		grid-column-start: 1;
		grid-column-end: 7;
	}
	div:last-of-type {
		grid-column-start: 8;

		grid-column-end: 11;
	}

	ul {
		list-style: none;
		h3 {
			margin-bottom: 0.5em;
			margin-top: 0;
			a:hover {
				color: var(--primary);
			}
		}
	}
}

.comingCourses {
	padding-top: var(--space-big);
	padding-bottom: var(--space);
	margin-bottom: var(--space);

	h2 {
		margin: 0;
	}
	header {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
}

.temperatures {
	padding-top: var(--space-big);
	margin-bottom: var(--space-big);
}

.workshops {
	margin-top: var(--space);
	padding-top: var(--space-big);
	header {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	ul {
		display: grid;
		gap: var(--gap);
		grid-template-columns: repeat(4, 1fr);
		list-style: none;
	}
}
