.aboutUs {
	@include mq($from: desktop) {
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		gap: var(--gap);
		padding-bottom: var(--space);
		border-bottom: 1px solid var(--accent);

		div:first-of-type {
			grid-column-start: 1;
			grid-column-end: 7;
		}
		div:last-of-type {
			grid-column-start: 8;

			grid-column-end: 11;
		}
	}

	.shortcuts {
		@include mq($until: desktop) {
			margin-top: var(--space);
			padding-top: var(--space);
			border-top: 1px solid var(--primary);
		}
	}

	ul {
		list-style: none;
		h3 {
			margin-bottom: 0.5em;
			margin-top: 0;
			a:hover {
				color: var(--primary);
			}
		}

		@include mq($until: desktop) {
			padding-bottom: var(--space);
		}

		@include mq($until: desktop) {
			background-color: var(--primary-light);
			margin-left: calc(-1 * var(--outer-margin));
			margin-right: calc(-1 * var(--outer-margin));
			padding: var(--outer-margin);
			columns: 2;
			margin-bottom: var(--space-big);
		}
	}
}

.comingCourses {
	padding-top: var(--space-big);
	padding-bottom: 1rem;
	margin-bottom: var(--space);

	h2 {
		margin: 0;
	}
	header {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
}

.temperatures {
	padding-top: var(--space-big);
	margin-bottom: var(--space-big);
}

.workshops {
	margin-top: var(--space);
	padding-top: var(--space-big);
	margin-bottom: var(--space-big);
	header {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	ul {
		list-style: none;
		display: grid;
		gap: var(--gap);
		grid-template-columns: repeat(2, 1fr);

		@include mq($from: desktop) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
