.workshop {
  & > a {
    position: fixed;
    right: var(--outer-margin);
    top: calc(var(--navbar-height) + var(--space));
  }

  .equipment {
    ul {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: var(--gap);
      list-style: none;

      @include mq($from: desktop) {
        grid-template-columns: repeat(2, 1fr);
      }

      li {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--gap);

        div {
          grid-column: span 3;
        }

        figure {
          aspect-ratio: 4/5;
          display: flex;

          img {
            object-fit: cover;
          }
        }

        header {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .prices {
    div {
      grid-row-gap: 0.5em;
    }
    span.label {
      grid-column: span 1;
    }
    span.value {
      grid-column: span 4;
    }
  }
}
