.workshop {
  & > button {
    position: fixed;
    right: var(--outer-margin);
    top: calc(var(--navbar-height) + var(--space));
  }

  .equipment {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap);
      list-style: none;

      li {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--gap);

        div {
          grid-column: span 3;
        }

        header {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
