.workshop {
  & > a {
    position: fixed;
    right: var(--outer-margin);
    top: calc(var(--navbar-height) + var(--space));
  }

  .equipment {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap);
      list-style: none;

      li {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--gap);

        div {
          grid-column: span 3;
        }

        figure {
          aspect-ratio: 4/5;
          display: flex;

          img {
            object-fit: cover;
          }
        }

        header {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .prices {
    .wrap {
      column-count: 2;
    }
  }
}
