.linkWithImage {
	display: grid;
	gap: var(--space);
	margin-top: var(--space);
	margin-bottom: var(--space);

	// Adjust grid columns as needed
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

