.staff {
	display: grid;
	gap: var(--space);
	margin-top: var(--space);
	margin-bottom: var(--space);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	@include mq($from: desktop) {
		grid-template-columns: repeat(5, 1fr);
	}
	gap: var(--gap);
}
