.staff {
	@include mq($from: desktop) {
		display: grid;
		gap: var(--space);
		margin-top: var(--space);
		margin-bottom: var(--space);
		grid-template-columns: repeat(1, 1fr);

		grid-template-columns: repeat(3, 1fr);
	}
}
