.staff {
	display: grid;
	gap: var(--space);
	margin-top: var(--space);
	margin-bottom: var(--space);
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: var(--gap);

	@include mq($from: desktop) {
		grid-template-columns: repeat(5, 1fr);
	}
}
