.calendar {
	position: relative;
	width: 100%;
	border: 1px solid var(--primary-light);
	background-color: var(--primary-very-light);

	aside {
		position: sticky;
		z-index: -1;
		top: calc(2rem + var(--navbar-height) + 4rem);
		margin-left: calc(-1 * calc((var(--col) * 2) + 2 * var(--gap)));

		h2 {
			margin-top: 0;
		}

		ul {
			list-style: none;
			display: flex;
			flex-direction: column;

			li {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 1rem;

				div {
					width: 1rem;
					height: 1rem;
					margin-right: 0.5rem;
					border: 1px solid var(--primary-light);
				}
			}
		}
	}
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		border-bottom: 1px solid var(--primary-light);
		padding: 0.3rem;

		> div {
			flex: 33.333333%;
		}

		.selector {
			display: flex;
			flex-direction: row;
			align-items: center;

			.views {
				display: flex;
				flex-direction: row;
				align-items: center;

				input[type='radio'] {
					display: none;
				}

				input[type='radio'] + label {
					display: inline-block;
					cursor: pointer;
				}

				input[type='radio']:checked + label {
					color: var(--primary);
				}
				label {
					margin-left: 0.5rem;
					&:last-child {
						margin-right: 0.5rem;
					}
				}
			}
		}
	}
	.interval {
		display: none;
		flex-direction: row;
		&.show {
			display: flex;
		}
		span {
			flex: 1 1 100%;
		}
		.range {
			display: flex;
			flex-direction: row;
			align-items: center;
			.date {
				display: flex;
				flex-direction: row;
				align-items: center;
				label {
					padding-right: 1rem;
					padding-left: 1rem;
				}
			}
		}
	}
}
