.week {
	--header-height: 3rem;
	--gap: 1px 1px;
	--height: 1.7rem;

	display: grid;
	position: relative;
	width: 100%;
	grid-template-columns: 100px 1fr;
	grid-template-rows: var(--header-height) repeat(calc(var(--hours-total)), auto);
	background-color: var(--primary-light);
	gap: var(--gap);

	.header {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--primary-very-light);
		height: var(--header-height);
		margin-left: -1px;

		&:first-child {
			margin-left: 0;
		}

		&.today {
			color: var(--primary);
			//margin-left: -10vw;
		}
	}

	.hours {
		position: relative;
		display: grid;
		width: 100%;
		grid-column: 1 / 1;
		grid-row: 2 / calc(var(--hours-total) + 2);
		grid-template-columns: subgrid;
		background-color: var(--primary-light);
		> div {
			background-color: var(--primary-very-light);
			padding: 1em;
			height: var(--height);
		}
		gap: var(--gap);
	}

	.sub {
		display: grid;
		position: relative;
		grid-column: 2 / 2;
		grid-row: 2 / calc(var(--hours-total) + 2);
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
		gap: var(--gap);
	}
}

.bookings,
.selection {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	gap: var(--gap);
	pointer-events: none;
	background-color: transparent !important;
}
