.slot {
	background-color: var(--white);
	color: var(--black);
	padding: 0.4rem;
	overflow: hidden;

	h5,
	p {
		font-size: 0.7rem;
	}

	p {
		line-height: 1.4;
	}

	h5 {
	}
	p {
		margin-left: 0.3rem;
	}

	&[data-state="disabled"] {
		color: var(--primary-light);
		background-color: var(--primary-very-light) !important;
		cursor: not-allowed;
	}

	&[data-state="available"] {
		background-color: var(--available);
	}

	&[data-state="unavailable"] {
		background-color: var(--unavailable);
		color: var(--white);
		z-index: 1000;
		cursor: not-allowed;
	}

	&[data-state="shared"] {
		background-color: var(--shared);
		color: var(--white);
	}

	&[data-state="you"] {
		background-color: var(--you);
		color: var(--white);
	}

	&[data-view="month"] {
	}
}
