.container {
	position: relative;
}

.grid {
	--header-height: 2rem;
	--first-col: 100px;
	--gap: 1px 1px;

	display: grid;
	position: relative;
	grid-template-columns: var(--first-col) repeat(var(--days), 1fr);
	grid-template-rows: var(--header-height) repeat(calc(var(--hours) + 1), 1fr);
	gap: var(--gap);
	width: 100%;
	background-color: var(--primary-light);

	> div,
	> div > div {
		display: flex;
		align-items: center;
		height: 1.5rem;
		width: 100%;
		padding: 0.2rem;
		cursor: pointer;
		background-color: var(--white);
	}

	.hours {
		display: grid;
		width: 100%;
		grid-column: 1 / 1;
		grid-template-columns: subgrid;
		padding: 0;
		gap: var(--gap);
	}

	.sub {
		position: relative;
		display: grid;
		grid-column: 2 / calc(var(--days) + 2);
		grid-row: 3 / calc(var(--hours) + 3);
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
		gap: var(--gap);
		padding: 0;
		background-color: var(--primary-light);
	}
}

.bookings,
.selection {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	pointer-events: none;
	background-color: transparent !important;
}

.week {
	position: relative;

	.header {
		display: flex;
		align-items: center;
		background-color: var(--primary-very-light);
		padding: 0.5em;
		height: var(--header-height);

		&:first-child {
			margin-left: 0;
		}

		&.today {
			color: var(--primary);
		}
	}
}
