.container {
	position: relative;
}

.grid {
	--header-height: 2rem;
	--col-height: 1.5rem;
	--first-col: 100px;
	--gap: 1px 1px;

	display: grid;
	position: relative;
	grid-template-columns: var(--first-col) repeat(var(--days), 1fr);
	grid-template-rows: var(--header-height) repeat(calc(var(--hours-total) + 1), var(--col-height));
	grid-auto-rows: var(--col-height);
	background-color: var(--primary-light);
	gap: var(--gap);
	width: 100%;

	> div {
		cursor: pointer;
		min-height: var(--col-height);
		background-color: var(--white);
	}

	.hours {
		position: relative;
		display: grid;
		width: 100%;
		grid-column: 1 / 1;
		grid-row: 3 / calc(var(--hours-total) + 3);
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
		grid-auto-rows: var(--col-height);
		padding: 0;
		gap: var(--gap);
		background-color: var(--primary-light);
		> div {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-left: 1em;
			background-color: var(--primary-very-light);
		}
	}

	.sub {
		position: relative;
		display: grid;
		grid-column: 2 / calc(var(--days) + 2);
		grid-row: 3 / calc(var(--hours-total) + 3);
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
		grid-auto-rows: var(--col-height);
		gap: var(--gap);
		padding: 0;
		background-color: var(--primary-light);
	}
}

.bookings,
.selection {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	pointer-events: none;
	background-color: transparent !important;
}

.bookings {
	> div {
		pointer-events: all;
	}
}

.week {
	position: relative;

	.header {
		display: flex;
		align-items: center;
		background-color: var(--primary-very-light);
		padding: 0.5em;

		&:first-child {
			margin-left: 0;
		}

		&.today {
			color: var(--primary);
		}
	}
}
