.container {
	position: relative;
}

.grid {
	display: grid;
	grid-template-columns: 100px repeat(var(--days), 4fr);
	grid-template-rows: repeat(calc(var(--hours) + 2), auto);
	gap: 1px 1px;
	width: 100%;

	> div {
		height: 1.5rem;
		width: 100%;
		cursor: pointer;
		padding: 0.2rem;
		display: flex;
		align-items: center;
	}

	> div:nth-child(-n + 16) {
		height: 2rem;
	}
}

.week {
	position: relative;
	background-color: var(--primary-light);

	> div {
		position: relative;
		background-color: var(--white);
	}

	.header {
		display: flex;
		align-items: center;
		background-color: var(--primary-very-light);
		padding: 0.5em;
		//height: 2rem;

		&:first-child {
			margin-left: 0;
		}

		&.today {
			color: var(--primary);
		}
	}
}

.bookings,
.selection {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	width: 100%;
	height: 100%;
	z-index: 2;
	pointer-events: none;
}
