.aside {
	position: sticky;
	z-index: 0;
	top: calc(2rem + var(--navbar-height) + 4rem);
	margin-left: calc(-1 * calc((var(--col) * 2) + 2 * var(--gap)));
	max-width: calc(var(--col) * 2);

	@include mq($until: desktop) {
		display: none;
	}

	h2 {
		margin-top: 0;
		&:last-of-type {
			margin-top: 1rem;
		}
	}

	ul {
		list-style: none;
		display: flex;
		flex-direction: column;

		li {
			label {
				text-overflow: ellipsis;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}

	.state {
		li {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 1rem;

			div {
				width: 1rem;
				height: 1rem;
				margin-right: 0.5rem;
				border: 1px solid var(--primary-light);
			}
		}
	}
	.equipment {
		li {
			margin-bottom: 0.5rem;
		}
	}
}
