.calendar {
	position: relative;
	width: 100%;
	border: 1px solid var(--primary-light);
	background-color: var(--primary-very-light);

	* {
		user-select: none;
	}

	aside {
		@include mq($until: desktop) {
			display: none;
		}
		position: sticky;
		z-index: -1;
		top: calc(2rem + var(--navbar-height) + 4rem);
		margin-left: calc(-1 * calc((var(--col) * 2) + 2 * var(--gap)));

		h2 {
			margin-top: 0;
		}

		ul {
			list-style: none;
			display: flex;
			flex-direction: column;

			li {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 1rem;

				div {
					width: 1rem;
					height: 1rem;
					margin-right: 0.5rem;
					border: 1px solid var(--primary-light);
				}
			}
		}
	}

	header {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		border-bottom: 1px solid var(--primary-light);
		padding: 0.5rem;

		@include mq($until: desktop) {
			flex-wrap: wrap;
		}

		> div {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		.month {
			@include mq($until: desktop) {
				width: 50%;
			}
		}

		.selector {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			@include mq($until: desktop) {
				order: 3;
			}

			.views {
				display: flex;
				flex-direction: row;
				align-items: center;

				input[type='radio'] {
					display: none;
				}

				input[type='radio'] + label {
					display: inline-block;
					cursor: pointer;
				}

				input[type='radio']:checked + label {
					color: var(--primary);
				}
				label {
					margin-left: 1rem;
					&:last-child {
						margin-right: 1rem;
					}
				}
			}
		}

		.longterm {
			display: flex;
			justify-content: flex-end;
			padding-right: 0;
			margin: 0;
			button {
				padding-right: 0;
				margin-left: 0;
			}
			&.hidden {
				visibility: hidden;
			}
			@include mq($until: desktop) {
				width: 50%;
			}
		}
	}

	.interval {
		display: none;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
		border-bottom: 1px solid var(--primary-light);

		@include mq($from: desktop) {
			justify-content: flex-end;
		}

		&.show {
			display: flex;
		}

		> span {
			flex: 1 1 auto;
		}

		.range {
			display: flex;
			flex-direction: row;
			align-items: center;
			> span {
				margin-left: 1rem;
				margin-right: 1rem;
			}
			.date {
				display: flex;
				flex-direction: row;
				align-items: center;
				label {
					padding-right: 1rem;
					padding-left: 1rem;
				}
			}

			button {
				white-space: nowrap !important;
			}
		}
	}
}

.error {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: all;
	z-index: 10;

	.dialog {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--white);
		padding: var(--outer-margin);
		max-width: 50%;

		@include mq($until: desktop) {
			max-width: 100%;
			padding: var(--space-small);
		}

		> span {
			margin-bottom: 2rem;
		}
	}
}

.views {
	position: relative;

	.loading {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: all;
		z-index: 2;
	}
}
