.slot {
	background-color: var(--white);
	color: var(--black);
	padding: 0.4rem;
	overflow: hidden;
	position: relative;
	pointer-events: none;
	cursor: not-allowed;

	h5,
	p {
		font-size: 0.7rem;
	}

	p {
		line-height: 1.4;
		margin-left: 0.3rem;
	}

	&[data-state='disabled'] {
		color: var(--primary-light);
		background-color: var(--primary-very-light) !important;
		z-index: 0;
	}

	&[data-state='available'] {
		background-color: var(--available);
		z-index: 1;
		cursor: pointer;
		pointer-events: all;
	}

	&[data-state='shared'] {
		background-color: var(--shared);
		color: var(--white);
		z-index: 2;
		cursor: pointer;
	}

	&[data-state='selection'] {
		background-color: var(--selection);
		color: var(--white);
		z-index: 3;
	}

	&[data-state='you'] {
		background-color: var(--you);
		color: var(--white);
		z-index: 4;
		pointer-events: all;
	}

	&[data-state='unavailable'] {
		background-color: var(--unavailable);
		color: var(--white);
		z-index: 5;
		pointer-events: all;
	}

	&[data-state='shared'],
	&[data-state='you'] {
		//opacity: 0.7;
	}
}
