.month {
	--header-height: 3rem;
	--first-column: 60px;
	--template-columns: var(--first-column) repeat(var(--days), 1fr);
	--template-rows: repeat(5, 1fr);

	display: grid;
	position: relative;
	width: 100%;
	grid-template-columns: var(--template-columns);
	grid-template-rows: var(--header-height) var(--template-rows);
	background-color: var(--primary-light);
	gap: 1px;

	&.hidden {
		display: none;
	}

	> div {
		position: relative;
		background-color: var(--white);
		padding: 0.1em;
		cursor: pointer;
		&:hover {
			background-color: var(--primary-very-light);
		}
	}

	.c {
		padding: 1em;
		background-color: var(--primary-very-light);
	}

	.header {
		display: flex;
		align-items: center;
		background-color: var(--primary-very-light);
		height: var(--header-height);
		margin-left: -1px;

		&:first-child {
			margin-left: 0;
		}
	}

	.weekday {
		height: 10vh;
		padding: 0.4em;
	}

	.bookings {
		display: grid;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 2rem;
		left: 0;
		grid-template-columns: repeat(calc(var(--days) * var(--hours-total)), 1fr);
		grid-template-rows: var(--template-rows);
		grid-area: 2 / 2 / var(--days) / calc(var(--days) + 2);
		background-color: transparent;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 1000;

		.slot {
			padding-top: 1rem;
			height: 20px;

			&[data-state='disabled'] {
				color: var(--primary-light);
				background-color: var(--primary-very-light) !important;
				cursor: not-allowed;
			}

			&[data-state='available'] {
				background-color: var(--available);
			}

			&[data-state='unavailable'] {
				background-color: var(--unavailable);
				color: var(--white);
				z-index: 1000;
				cursor: not-allowed;
			}

			&[data-state='shared'] {
				background-color: var(--shared);
				color: var(--white);
			}
			&[data-state='you'] {
				background-color: var(--you);
			}
		}
	}
}
