.slot {
	position: relative;
	background-color: var(--white);
	color: var(--black);
	overflow: hidden;
	pointer-events: all;
	cursor: pointer;

	&.hover {
		overflow: visible;
		z-index: 10000 !important;
	}

	&[data-state='disabled'] {
		color: var(--primary-light);
		background-color: var(--primary-very-light) !important;
		z-index: 0;
	}

	&[data-state='available'] {
		background-color: var(--available);
		z-index: 0;
		pointer-events: none;
	}

	&[data-state='shared'] {
		background-color: var(--shared);
		color: var(--white);
		z-index: 1;
	}

	&[data-state='you'] {
		background-color: var(--you);
		color: var(--white);
		z-index: 1;
	}

	&[data-state='unavailable'] {
		background-color: var(--unavailable);
		color: var(--white);
		z-index: 1;
	}

	&[data-state='selection'] {
		background-color: var(--selection);
		color: var(--white);
		z-index: 10000;
		pointer-events: none;
	}

	> div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0.4rem;
		background-color: inherit;
		pointer-events: none;
		white-space: pre;

		h5,
		p {
			font-size: 0.7rem;
		}

		p {
			line-height: 1.4;
			margin-left: 0.3rem;
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
