.slot {
	position: relative;
	background-color: var(--white);
	color: var(--black);
	overflow: hidden;
	pointer-events: all;
	cursor: pointer;

	&[data-hover='true'] {
		overflow: visible;
		> div {
			overflow: visible;
		}
	}

	> div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0.4rem;
		background-color: inherit;
		pointer-events: none;

		h5,
		p {
			font-size: 0.7rem;
			white-space: normal;
		}
		span {
			white-space: pre;
		}
		p {
			line-height: 1.4;
			margin-left: 0.3rem;
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
