.courses {
	header {
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		a {
			position: relative !important;
		}
	}

	ul {
		display: grid;
		gap: var(--gap);
		list-style: none;
		grid-template-columns: repeat(2, 1fr);

		@include mq($from: desktop) {
			grid-template-columns: repeat(3, 1fr);
		}

		li:hover {
			h4 {
				color: var(--primary);
			}
		}

		span {
			display: block;
			margin-bottom: 1rem;
		}

		h4 {
			padding-top: 1rem;
		}
	}
}
