.courses {
	header {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--gap);
		list-style: none;

		&:hover {
			h4 {
				color: var(--primary);
			}
		}

		span {
			display: block;
			margin-bottom: 1rem;
		}

		h4 {
			padding-top: 1rem;
		}
	}
}
