.footer {
	background-color: var(--primary);
	color: var(--white);
	padding: var(--outer-margin);
	padding-bottom: calc(0.9 * var(--outer-margin));
	@include mq($from: desktop) {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: var(--gap);
	}

	a {
		color: var(--white);
	}

	h3 {
		grid-column: span 2;
		margin: 0;
		@include mq($until: desktop) {
			padding-bottom: 1em;
		}
	}

	.wrapper {
		@include mq($from: desktop) {
			grid-column: span 10;
			display: flex;
			justify-content: space-between;
		}
	}

	.social {
		@include mq($until: desktop) {
			padding-top: 1em;
		}
	}

	.support {
		display: flex;
		@include mq($until: desktop) {
			flex-wrap: wrap;
		}

		span {
			@include mq($until: desktop) {
				width: 100%;
				padding-bottom: 1em;
			}
		}

		ul {
			list-style: none;
			display: flex;
			padding-left: 1.5rem;
			line-height: 0;

			li {
				padding-right: 1.5rem;
			}

			img {
				height: 1.2rem;
			}
		}
	}
}
