.footer {
	background-color: var(--accent);
	color: var(--seconday);
	padding: var(--outer-margin);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--gap);

	a {
		color: var(--seconday);
	}

	h3 {
		grid-column: span 2;
	}

	.wrapper {
		grid-column: span 10;
		display: flex;
		justify-content: space-between;
	}

	.support {
		ul {
			list-style: none;

			img {
				height: 1rem;
			}
		}
	}
}
