.logo {
	position: fixed;
	top: calc(2rem + var(--navbar-height));
	left: var(--outer-margin);
	width: 4.1em;
	z-index: var(--z-logo);
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: var(--z-menu);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--gap);
	padding-left: var(--outer-margin);
	padding-right: var(--outer-margin);
	background-color: var(--seconday);
	opacity: 0;
	transition: opacity 0.25s ease-out;

	&.show {
		opacity: 1;
	}

	a:hover {
		color: var(--primary);
	}

	.wrapper {
		grid-column: 3 / -1;
		padding-top: var(--small-margin);
		padding-bottom: var(--small-margin);

		span {
			cursor: pointer;
		}
		.selected > a,
		.selected > span {
			color: var(--primary);
		}

		> ul {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			list-style: none;
			width: 100%;

			li {
				display: flex;
				justify-content: flex-start;
				margin-right: 1rem;
				flex: 0 0;
				white-space: nowrap;

				a &:hover {
					color: var(--accent);
				}

				&.split {
					flex: 1 1 100%;
				}

				&:last-child {
					margin-right: 0;
					align-self: flex-end;
				}

				.sub {
					position: absolute;
					left: -1rem;
					top: 0;
					background-color: var(--primary-light);
					padding: 1rem;
					border-top: 2rem solid var(--white);
					z-index: -1;
					list-style: none;

					li {
						line-height: 2;
					}
				}
			}
		}
	}
}
