.logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 80px;
	z-index: var(--z-logo);
}

.menu {
	position: fixed;
	top: 0;
	left: 100px;
	width: 100%;
	padding-left: var(--outer-margin);
	padding-right: var(--outer-margin);
	z-index: var(--z-menu);

	.selected > a {
		font-weight: bold !important;
	}
	> ul {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		list-style: none;

		li {
			margin-right: 1rem;

			.sub {
				position: absolute;
				left: calc(-1 * 1rem);
				top: 0;
				background-color: pink;
				padding: var(--outer-margin);
				border-top: 2rem solid var(--background);
				z-index: -1;
				list-style: none;
			}
		}
	}
}
