.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: var(--outer-margin);
	padding-right: var(--outer-margin);
	z-index: var(--z-menu);
	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		list-style: none;
		li {
		}
	}
}
