@use 'fonts';
@use 'mediaqueries' as *;

:root {
	--white: #fcfcfc;
	--black: #161616;
	--primary: #3a29a6;
	--primary-light: #9f96d9;
	--seconday: #fcfcfc;
	--outer-margin: 3rem;
	--small-margin: 1rem;
	--navbar-height: calc(1rem + calc(2 * var(--small-margin)));
	--body-font: Arial, Helvetica, Sans-Serif;
	--headline-font: Arial, Helvetica, Sans-Serif;
	--line-height: 1.3;
	--space: 2rem;
	--space-small: 1.5rem;
	--z-logo: 500;
	--z-menu: 500;
	--gap: 1.2rem;
	--cols: 10;
	--gutter: 20px;
	--col: calc((100% - ((var(--cols) - 1) * var(--gap))) / var(--cols));
	--right-margin: calc((var(--col) * 2) + 2 * var(--gap));

	@include mq($from: tablet) {
	}

	@include mq($until: tablet) {
	}
}

body {
	width: 100%;
	font-size: 100%;
	line-height: var(--line-height);
	color: var(--black);
	background-color: var(--white);
	font-family: var(--body-font);
	-webkit-font-smoothing: antialiased;
	font-feature-settings: 'liga', 'kern';

	@include mq($from: desktop) {
	}
}

html {
	box-sizing: border-box;
}

main {
	display: block;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--gap);
	padding: var(--outer-margin);
}

article {
	position: relative;
	min-height: 100vh;
	grid-column: 3 / -1;
	margin-top: 2rem;
}

.margin-right {
	margin-right: var(--right-margin);
}

.margin-bottom {
	margin-bottom: var(--space);
}

.line {
	padding-top: 1.7rem;
	border-top: 1px solid var(--primary);
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	background: var(--seconday);
}

::-webkit-scrollbar:vertical {
	width: 10px;
}

::-webkit-scrollbar:horizontal {
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: var(--black);
}

article p a {
	text-decoration: underline 1px !important;
	text-underline-offset: 0.15em;
	text-decoration-thickness: 1px;

	&:hover {
		color: var(--beige-dark);
	}
}

.intro {
	margin-bottom: var(--small-space);
	margin-top: -0.2em;
}

ul.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-top: 1px solid var(--primary);

	li {
		flex: 1 1 auto;
		border-bottom: 1px solid var(--primary);

		&:hover {
			background-color: var(--primary-light);
		}

		a {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 4rem;

			span {
				flex: 1 1 auto;
				&:last-child {
					justify-self: flex-end;
				}
			}
		}
	}
}

ul.meta {
	list-style: none;
	display: flex;
	flex-direction: column;
	columns: 2;
	width: 100%;

	li {
		display: flex;
		flex-direction: row;
		span {
		}
	}
}

figcaption {
	line-height: 1;
	font-size: 0.7em;
	margin-bottom: 1em;
}

hr {
}

input,
textarea,
select {
}

button {
	padding: 1rem;
	border: 1px solid var(--primary);
	background-color: transparent;
	cursor: pointer;
	&:hover {
		background-color: var(--primary);
		color: white;
	}
}
