@font-face {
	font-family: "Arial";
	src: url("../public/fonts/KKV_Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Arial";
	src: url("../public/fonts/KKV_Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Arial";
	src: url("../public/fonts/KKV_BoldItalic.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Arial";
	src: url("../public/fonts/KKV_BoldItalic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
}
