@use "mediaqueries" as *;

html,
body {
	font-size: 16px;
	font-weight: normal;
	font-family: var(--body-font);
	line-height: 1em;

	@include mq($from: tablet) {
		font-size: 18px;
	}

	@include mq($from: wide) {
		font-size: 20px;
	}
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
	line-height: 1;
}

h1,
h2.big {
	font-size: 1.5rem;
	margin-bottom: 0.5em;
	line-height: 0.95em;
	text-transform: none;
	letter-spacing: normal;

	@include mq($from: desktop) {
		font-size: 2.2rem;
		margin-bottom: 1em;
	}
}

h2 {
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-bottom: 1em;
}

h5 {
	font-size: 1rem;
	font-weight: normal;
	padding-bottom: 1em;
	padding-top: 1.5em;
}

.small,
nav,
figcaption,
figcaption p {
	font-size: 0.8rem;
}

form,
input,
select,
textarea,
button {
	font-family: var(--body-font);
	line-height: 1;
}

.about h3 {
	margin-bottom: 0.5em;
}

.nav-hover {
	@include mq($from: desktop) {
		&:hover {
			letter-spacing: var(--letter-space);
		}
	}
}

p {
	font-size: 1rem;
	margin-bottom: 0;
}

.light,
.about p,
.legal p {
	font-family: var(--body-font)-light;
}

.about .nav {
	line-height: 1.25;
}

.big p,
.big {
	font-size: 1.4rem;

	@include mq($from: desktop) {
		font-size: 1.6rem;
	}
}

.mid,
.mid p,
ol li {
	font-size: 1.2rem;
}

p.small,
.small,
.small p,
.legal p {
	font-size: 1rem !important;
}

.very-small {
	font-size: 0.8rem;
}

.default-small {
	font-size: 1rem;

	@include mq($from: desktop) {
		font-size: 1.4rem;
	}
}

.mid-small {
	font-size: 1rem;

	@include mq($from: desktop) {
		font-size: 1.2rem;
	}
}

.structured p strong {
	font-weight: normal;
	font-family: var(--body-font);
}

.symbol {
	font-family: var(--symbol-font);
}

.page-title {
	font-size: 1rem;
	font-family: var(--body-font) !important;
	@include mq($from: desktop) {
		padding-top: 0.5rem;
	}
}

.small-text {
	font-size: 1.2rem;
}
