@use "mediaqueries" as *;

html,
body {
	font-size: 16px;
	font-weight: normal;
	font-family: var(--body-font);
	line-height: 1em;

	@include mq($from: tablet) {
		font-size: 20px;
	}

	@include mq($from: wide) {
		font-size: 22px;
	}
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
	line-height: 1;
}

h2,
h3,
h4 {
	line-height: var(--line-height);
}

h1,
h2.big {
	font-size: 1.5rem;
	margin-bottom: 0em;
	line-height: 1.1em;
	text-transform: none;
	letter-spacing: normal;
	margin-bottom: 0.8em;

	@include mq($from: desktop) {
		margin-bottom: 1.2em;

		font-size: 2rem;
	}
}

h2,
.caps {
	font-size: 0.6rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-bottom: 1.5rem;
}

h3,
.content h2 {
	letter-spacing: normal;
	text-transform: none;
	font-size: 1.3rem;
	margin-bottom: 0.75em;
	margin-top: 1.25em;
}

h4 {
	font-size: 1.15rem;
	padding-bottom: 0.25em;
}

p {
	font-size: 1rem;
	margin-bottom: 0;
}

.content p {
	margin-bottom: 0.75em;
}

.intro,
.intro p {
	font-size: 1.17rem;
	padding-bottom: 1em;
}

.mid p,
p.mid,
.mid {
	font-size: 0.85rem;
}

.small,
nav,
figcaption,
figcaption p {
	font-size: 0.8rem;
	line-height: var(--line-height);
}

.very-small {
	font-size: 0.5rem;
}

form,
input,
select,
textarea,
button {
	font-family: var(--body-font);
	line-height: 1;
}
