.form {
	margin-top: var(--space);
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: var(--gap);

	div {
		grid-column: span 5;
	}

	label {
		padding-bottom: 0.2rem;
	}

	button[type='submit'] {
		margin-top: var(--space-small);
		grid-column: span 10;
	}

	&.submitting {
		*:not(button[type='submit']) {
			opacity: 0.8;
			pointer-events: none;
		}
	}
}
