.date button {
	background-color: var(--primary-very-light);
}

.drop {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	height: 50vh;
	background-color: var(--primary-very-light);
	&:hover {
		background-color: var(--primary-very-light);
	}
	.message {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;

		.wrap {
			text-align: center;
			background-color: rgba(255, 255, 255, 0.5);
			padding: 1rem;
		}
	}

	.image {
		position: relative;
		height: 50vh;
		width: auto;
		object-fit: contain;
	}
}
